.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 2vh;
}

.left-sideSecond {
  margin-left: 5vh;
}

.right-sideSecond {
  margin: auto;
}

.boxes {
  border-style: solid;
  border-color: black;
  width: 400px;
  height: 70px;
}

.h2Left {
  text-align: left;
  margin-bottom: 10px;
}
